@media (max-width:768px) {
    .create-inspection {
        width: 100%;
    }
}
 

.create-inspection {
    width: 100%;
    height: 754px;
    /* margin: 25px; */
    background-color: #fff;
}

.heading {
    margin: 50px 0 0 40px;
}

.heading h1 {
    font-size: 24px;
}

.create {
    margin: 25px 0 0 95px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.round {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 8px;
    background-color: #F2C94C;
}

.round-1 {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 8px;
    background-color: #BDBDBD;
}

.line {
    width: 232px;
    height: 2px;
    border: none;
    border-radius: 8px;
    background-color: #BDBDBD;
}

.title-information {
    display: flex;
}

.customer-title {
    font-size: 14px;
    margin: 25px 0 0 40px;
}

.property-title {
    font-size: 14px;
    margin: 25px 0 0 70px;
}

.inspection-team {
    font-size: 14px;
    margin: 25px 0 0 90px;
}

.note {
    font-size: 14px;
    margin: 25px 0 0 190px;
}

.new-customer {
    display: flex;
    align-items: center;
    margin: 30px 0 0 40px;
    gap: 15px;
}

.new-customer h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.customer-detail {
    width: 736px;
    /* height: 414px; */
    margin: 40px 0 0 40px;
    border: none;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(160, 160, 160, 0.2);
    border-radius: 15px;
}

.text-area {
    display: flex;
    gap: 30px;
    margin: 20px;
}

.text-area input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #919EAB;
    border-radius: 10px;
}

.save-next-btn {
    margin: 45px 0 0 40px;
}
.next-btn {
    width: 153px;
    height: 44px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    background-color: #F1B13B;
}