.table-container-03 {
    width: 1555px;
    margin: 10px 30px;
    line-height: 50px;
    background-color: #fff;
}

.table-title-03 {
    background-color: #F5F5F5;
    height: 74px;
}

.replacements-03 {
    border-bottom: 5px solid;
    color: #F1B13B;
}

.heading-item-03{
    text-align: center;
    background-color: #F5F5F5;
}


.text-title-03 {
    color: #7D7D7D;
}